[Unit]
Description=My webapp
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/webapp
ExecStartPre=source .venv
ExecStart=/home/ec2-user/.local/bin/uvicorn main:app --reload --workers 4 --host 0.0.0.0 --port 8001
Restart=always

[Install]
WantedBy=multi-user.target